{% extends "wtrx/base_page.html" %}
{% load i18n wagtailcore_tags %}

{% block content %}
<div class="mx-auto max-w-5xl px-4 pt-12 sm:px-6 lg:px-8">
    <p class="font-heading text-sm font-semibold text-neutral-500">{{ page.published_at|date:"F j, Y" }}</p>
    <h1 class="mt-2 font-heading text-4xl font-bold tracking-tight text-dark sm:text-5xl">{{ page.title }}</h1>
</div>
{% for block in page.body %}
    {% if block.block_type == "section" or block.block_type == "card_carousel" or block.block_type == "donate_fundraiseup" or block.block_type == "callout" or block.block_type == "image_card_list" or block.block_type == "image_text" or block.block_type == "image" %}
        {% include_block block %}
    {% else %}
        <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8 py-8">
            {% include_block block %}
        </div>
    {% endif %}
{% endfor %}
{% endblock %}
